## Preprocessing

In [17]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [18]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN', 'NAME'], axis=1, inplace=True)

In [19]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [20]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [22]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
value_counts = application_df['CLASSIFICATION'].value_counts()
value_counts_gt_one = value_counts[value_counts > 1]
value_counts_gt_one

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [24]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = value_counts[value_counts < 1000].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [25]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [27]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop(['IS_SUCCESSFUL'], axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [28]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

input_dim = X_train_scaled.shape[1]

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=32, activation="relu", input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=17, activation="relu"))

#Third hidden layer (added)
nn.add(tf.keras.layers.Dense(units=9, activation="relu"))


# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 32)                1408

 dense_4 (Dense)             (None, 17)                561

 dense_5 (Dense)             (None, 9)                 162

 dense_6 (Dense)             (None, 1)                 10

=================================================================
Total params: 2141 (8.36 KB)
Trainable params: 2141 (8.36 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
# Train the model (added epchs)
fit_model = nn.fit(X_train_scaled, y_train, epochs=70)

Epoch 1/70
804/804 [==============================] - 3s 2ms/step - loss: 0.5862 - accuracy: 0.7120
Epoch 2/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5566 - accuracy: 0.7283
Epoch 3/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7308
Epoch 4/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5507 - accuracy: 0.7308
Epoch 5/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7314
Epoch 6/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7319
Epoch 7/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5482 - accuracy: 0.7324
Epoch 8/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7324
Epoch 9/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7333
Epoch 10/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7339
Epoch 11/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - accuracy: 0.7337
Epoch 12/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7330
Epoch 13/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7347
Epoch 14/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5448 - accuracy: 0.7352
Epoch 15/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5449 - accuracy: 0.7348
Epoch 16/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7352
Epoch 17/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7350
Epoch 18/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7354
Epoch 19/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - accuracy: 0.7371
Epoch 20/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - accuracy: 0.7356
Epoch 21/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5433 - accuracy: 0.7364
Epoch 22/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5430 - accuracy: 0.7363
Epoch 23/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7352
Epoch 24/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7363
Epoch 25/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7358
Epoch 26/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7360
Epoch 27/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7352
Epoch 28/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5421 - accuracy: 0.7362
Epoch 29/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5420 - accuracy: 0.7364
Epoch 30/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5420 - accuracy: 0.7362
Epoch 31/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7365
Epoch 32/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - accuracy: 0.7365
Epoch 33/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5415 - accuracy: 0.7356
Epoch 34/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 35/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5414 - accuracy: 0.7373
Epoch 36/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5410 - accuracy: 0.7370
Epoch 37/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5414 - accuracy: 0.7366
Epoch 38/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5412 - accuracy: 0.7369
Epoch 39/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7370
Epoch 40/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5408 - accuracy: 0.7371
Epoch 41/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5407 - accuracy: 0.7374
Epoch 42/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5402 - accuracy: 0.7371
Epoch 43/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5401 - accuracy: 0.7370
Epoch 44/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7374
Epoch 45/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5401 - accuracy: 0.7383
Epoch 46/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7376
Epoch 47/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5403 - accuracy: 0.7373
Epoch 48/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7371
Epoch 49/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5399 - accuracy: 0.7375
Epoch 50/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5394 - accuracy: 0.7372
Epoch 51/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7383
Epoch 52/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7382
Epoch 53/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7378
Epoch 54/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5399 - accuracy: 0.7365
Epoch 55/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7385
Epoch 56/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5397 - accuracy: 0.7379
Epoch 57/70
804/804 [==============================] - 3s 3ms/step - loss: 0.5391 - accuracy: 0.7376
Epoch 58/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5394 - accuracy: 0.7376
Epoch 59/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7382
Epoch 60/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7384
Epoch 61/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7378
Epoch 62/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7383
Epoch 63/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5386 - accuracy: 0.7384
Epoch 64/70
804/804 [==============================] - 3s 4ms/step - loss: 0.5389 - accuracy: 0.7388
Epoch 65/70
804/804 [==============================] - 2s 3ms/step - loss: 0.5389 - accuracy: 0.7383
Epoch 66/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 67/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7381
Epoch 68/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7381
Epoch 69/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5384 - accuracy: 0.7393
Epoch 70/70
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7394

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5536 - accuracy: 0.7292 - 457ms/epoch - 2ms/step
Loss: 0.5535796284675598, Accuracy: 0.7292128205299377

In [34]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(